# Database
DATABASE_URL=postgresql://username:password@localhost:5432/ime_baze
ASYNC_DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/ime_baze

# JWT
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15

# Email
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False

# App
APP_ENV=development
DEBUG=Trues
