@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@theme {
  /* Green */
  --color-primary: #22c55e;
  /* Dark Green */
  --color-primary-dark: #16a34a;
  /* Light Green */
  --color-primary-light: #f0fdf4;
  /* Gray 200 */
  --color-border: #e5e7eb;
  /* White */
  --color-surface: #ffffff;
  /* Font */
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    /* Dark Gray */
    color: #111827;
  }
}
